html,body{
    background-image: url('img/david-pennington-T-GjUWPW-oI-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Shadows Into Light', cursive;
}

.container{
    height: 90%;
    align-content: center;
}

.card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3, label, h4, h1 {
    color: white;
}

