/****************************************************************/
/*signature page*/
/*****************************************************************/
/*.sidenav {*/
/*    !*height: 100%; !* Full-height: remove this if you want "auto" height *!*!*/
/*    height: auto;*/
/*    width: 200px; !* Set the width of the sidebar *!*/
/*    position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
/*    z-index: 1; !* Stay on top *!*/
/*    top: 150px; !* from the top *!*/
/*    left: 10px;*/
/*    background-color: rgb(172, 193, 227); !* light blue *!*/
/*    overflow-x: hidden; !* Disable horizontal scroll *!*/
/*    padding-top: 20px;*/
/*}*/

/*!* The navigation menu links*!*/
/*.sidenav a {*/
/*    padding: 6px 8px 6px 16px;*/
/*    text-decoration: none;*/
/*    font-size: 18px;*/
/*    color: #818181;*/
/*    display: block;*/
/*}*/

/*!* When you mouse over the navigation links, change their color*!*/
/*.sidenav a:hover {*/
/*    color: #f1f1f1;*/
/*}*/

.student_pic {
    height: 100px;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/***************************************************************/
/* END OF SIGNATURE-PAGE CSS*/



/*PARENT-PROFILE PAGE*/
/************************************************************/

.p-profile-page {
        background: url("img/yearbookWhiteBlock.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.welcome {
    background-color: cornflowerblue;
}

.commentCard{
    background-color: rgba(152, 148, 148, 0.5) !important;
}


/*.sidenavPL  {*/
/*    !*height: 100%; !* Full-height: remove this if you want "auto" height *!*!*/
/*    !*height: 50%;*!*/
/*    width: 200px; !* Set the width of the sidebar *!*/
/*    position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
/*    z-index: 1; !* Stay on top *!*/
/*    top: 90px; !* from the top *!*/
/*    left: 1px;*/
/*    !*background-color: lightblue; !* dull pink *!*!*/
/*background-color:rgb(172, 193, 227);*/
/*    overflow-x: hidden; !* Disable horizontal scroll *!*/
/*    padding-top: 20px;*/
/*}*/

/* The navigation menu links*/
/*.sidenavPL  a {*/
/*    padding: 6px 8px 6px 16px;*/
/*    text-decoration: none;*/
/*    font-size: 18px;*/
/*    color: black;*/
/*    display: block;*/
/*}*/

/* When you mouse over the navigation links, change their color*/

/*.sidenavPL  a:hover {*/
/*    color: #f1f1f1;*/
/*}*/
/*.sidenavPR {*/
    /*height: 100%; !* Full-height: remove this if you want "auto" height *!*/
    /*!*height: 50%;*!*/
    /*width: 200px; !* Set the width of the sidebar *!*/
    /*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
    /*z-index: 1; !* Stay on top *!*/
    /*top: 100px; !* from the top *!*/
    /*right: 2px;*/
    /*background-color: lightblue; !* dull pink *!*/
    /*background-color: rgba(230, 161, 180, 0.3);*/
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
    /*padding-top: 20px;*/
/*}*/



.sidenavP a:hover {
    color: #f1f1f1;
}

.childCommentScroll{
    margin: auto;
    top: 5em;
    /*padding:4px;*/
    /*width: 950px;*/
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;

}

.commentCard{
    background-color: rgba(0,0,0,0.5) !important;
    width: 50%;
    left: 30rem;
}

.eachCommentCard{
    background-color: rgba(0,0,0,0.5) !important;
}


.individualCommentCard{
    background-color: white;
}

.yourChildImage{
    height: 150px;
    width: 150px;
    border-left: 10px solid blue;
}

.parentFooter{
    margin-top: 250px;
}
/***************************************************************/
/* END OF PARENT-PROFILE-PAGE CSS*/


/*Armando's css'*/

.sidenav{
    /*padding-top: 20px;*/
    top: 55px;
    left: -2px;
}
.studentImage{
    position: relative;
    display: block;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border:5px solid white;
    border-radius: 50%;
}
.uploadButton{
    position: relative;
    margin-left: 600px;
    margin-top: -5rem;
}
.bannerImage{
    position: relative;
    top: 19rem;
    left: 41%;
    margin-top: -250px; /* Half the height */
    margin-left: -19em; /* Half the width */
    /*top: 0;*/
    /*display: block;*/
    /*margin-left: 33rem;*/
    /*width: 50%;*/
}
/*.footerPage{*/
/*    margin-top: 80px;*/
/*    padding-top: 16rem;*/
/*}*/
.container-fluid{
    padding-left: 0;
    padding-right: 0;
    /*width: 1450px;*/
}
.signerImage{
    height: 150px;
    width: 150px;
    border-left: 10px solid blue;
}
.middle{
    top: -4em;
}
.middleScroll{

    justify-content: center;
    /*padding:4px;*/
    background-color: rgba(0,0,0,0.5) !important;
    width: 100%;
    height: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}


/*.commentPadding{*/
/*}*/



.foot{
    margin-bottom: 0 !important;
}

.imageOfCommentPoster{
    background-color: white;

}

.enterCommentBox{
    /*left: 9rem;*/
    margin: 0;
    width: 100%
}

img {
    /*background-size: 100% 100%;*/
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.box.large{
    height: 300px;
}
.bannerImg{
    width: 300px;
    height: 300px;

}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

body, html {
    background-position: center center;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
    /*-webkit-transition: background 0.5s ease-in;*/
    /*-moz-transition: background 0.5s ease-in;*/
    /*-o-transition: background 0.5s ease-in;*/
    /*-ms-transition: background 0.5s ease-in;*/
    /*transition: background 0.5s ease-in;*/
    height: 100%;
    background-image: url("img/locker_with_white_block.jpg");
}
/*home page backgroung*/