footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 200px;
    /*background-color: #999999;*/
    margin-bottom: 0 !important;
}
footer ul.footerleft{
    margin-left: 150px;
    margin-top: 10px;
}
footer ul.footerleft li{
    display: inline;
    margin-right: 25px;
}
footer a{
    color: #222;
}

footer a:hover{
    color: blue;
    text-decoration: none;
}
.social:hover {
    -webkit-transform: scale(1.0);
    -webkit-transition-duration: 0.5s;
}
.social {
    -webkit-transform: scale(0.8);
    color: #222;

}

/*.foot{*/
/*    margin-bottom: 0 !important;*/
/*}*/

/*.parentFooter{*/
/*    margin-top: 250px;*/
/*}*/

.footer{
    margin-top: 0;
    padding-top: 0;
}

a {
    color: white;
}