

.jumbotron-fluid {
    background-image: url("https://cdn.filestackcontent.com/LB12gU0rSFSLFBdrskkm");
    background-size: 100% 100%;
}

body {
    background-color: black;
}

h1, h4 {
    color: ghostwhite;
}

#title {
    color: ghostwhite;
}

