/*body, html {*/
/*    background: url("img/john-schnobrich-2FPjlAyMQTA-unsplash.jpg") no-repeat center center fixed;*/
/*    background: url("img/moren-hsu-VLaKsTkmVhk-unsplash.jpg") no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

.jumbotron-fluid {
    background-image: url("img/Screen Shot 2020-08-27 at 9.22.21 AM.png");
    background-size: 100%;
}

/*body {*/
/*    background-color: black;*/
/*}*/

h4 {
    font-family: 'Yatra One', Times, serif;
    color: black;
    font-weight: bolder;
}

.fas, .far {
    color: #007bff;
}

h1 {
    font-family: 'Yatra One', Times, serif;
}
