body, html {
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Yanone Kaffeesatz', sans-serif;


    /*background: url("img/john-schnobrich-2FPjlAyMQTA-unsplash.jpg") no-repeat center center fixed;*/
/*    background: url("img/locker.jpg") no-repeat center center fixed;*/

/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*    =======================*/
/*    background-position: center center;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
    background-size: cover;
    -webkit-transition:background 0.5s ease-in;
    -moz-transition:background 0.5s ease-in;
    -o-transition:background 0.5s ease-in;
    -ms-transition:background 0.5s ease-in;
    transition:background 0.5s ease-in;
    height: 100%;
    background-image: url("img/groupComputer.jpg");
    /*background-image: url("img/openFaded.jpg");*/
}
#rotimages {
    /*background: url("img/groupComputer.jpg") no-repeat center center fixed;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/

}

.jumbotron-fluid {
    /*background-image: url("img/teen-titans.png");*/
    /*background-size: 100%;*/
    /*background-color: rgba(255, 255, 255, 0.5) !important;*/
    /*background-color: rgba(225, 177, 159, 0.3);*/
    /*background-color: rgba(247, 233, 225, 0.3);*/
    /*border: solid 5px #0c0c0c;*/
    background-color: white;
}

/*body {*/
/*    background-color: black;*/
/*}*/

h4 {
    color: black;
    font-weight: bolder;
}
 hr {
     border-style: solid;
 }
.welcome {
    border: solid 5px black;
     /*background-color: rgba(0,0,0,0.6) !important;*/
 }
.fas, .far {
    /*color: #df7b7b;*/
    color: darkolivegreen;
}

#title {
    color: #8a1f0a;
    /*font-family: 'Yatra One', Times, serif;*/
    font-family: 'Bebas Neue', cursive;
    font-size: 6em;
    /*font-weight: bolder;*/
    text-decoration: underline;
}
.info {
    /*background-color: #f7eeee;*/
    background-color: rgba(247, 233, 225, 0.3);
    /*opacity: 0.1%;*/
    border: solid 5px #0c0c0c;
    /*border-color: darkgreen; !important;*/
}