.nav-link:hover {
    border-bottom: 3px solid white;
}

.nav-link {
    border-bottom: 3px solid #789f83;
}

nav {
    /*font-family: 'Josefin Sans', sans-serif;*/
    border-bottom: 3px #789f83;
}
.nav-font {
    font-size: 1.25em;
}

.mobile-navbar{
    background: #789F83;
}

/*this is what the main class is called that effects mobile navbar padding*/
.mobile-section-1{
    padding-left: 0;
    padding-right: 0;
}
