html,body{
    font-family: 'Shadows Into Light', cursive;

    background-image: url('img/moren-hsu-VLaKsTkmVhk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container{
    height: 90%;
    align-content: center;
}

.card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.card-header h3, label, h4, h5 {
    color: white;
}