html,body{
    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Bree Serif', serif;
    background-image: url('img/final-10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container{
    height: 90%;
    align-content: center;
}

.welcome{
    border: black solid 5px;
}

.welcomeForm{
    margin-top: 8%;
}
.card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.card-header h2, label{
    color: white;
}

/*mobile*/

.mobileWelcome{
    margin-top: 30%;
}