body, html {
    /*background-image: url("img/breezway.jpeg");*/
    /*background-image: url("img/A4209186-9CA6-49AF-B6CF-E141738548F9_1_105_c.jpeg");*/
    background-image: url("img/locker.jpg");
    /*background-image: url("img/A60952B9-0C51-4A63-B3E6-20B1620F6324_1_105_c.jpeg");*/
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100%;
}

@media only screen
    /*and (min-device-width : 375px)*/
    /*and (max-device-width : 812px)*/
and (max-device-width : 991px)
    /*and (-webkit-device-pixel-ratio : 3)*/
{
    body, html {
        overflow: scroll;
        /*background-color: white;*/
        background-image: url("img/locker.jpg");
        background-size: cover;
    }
}

h5 {
    color: white;
    text-shadow: 2px 2px 2px #818181;
}

h1 {
    color: whitesmoke;

}

.card:hover {
    transition: transform 300ms;
    transform: scale(1.01);
}

.card-body {
    /*background-image: url("img/codeup-arrow.jpg");*/
    background-size: initial;
    background-repeat: no-repeat;
    height: 100%;
    background-position: right top;
}

/*.card-title:hover {*/
/*    color: #57ca85;*/
/*}*/

.text-white {
    /*background-color: #4F9D85;*/
}

.searchBtn {
    background-color: #4F9D85;
}

.container {
    height: max-content;
    width: max-content;
    position: center;
}

html {
    height: 100%;
}
