body{
    background-image: linear-gradient(#40798D, #2D3244);
    background-repeat: no-repeat;
}

h5, h1 {
    color: white;
    /*text-shadow: 2px 2px 2px #818181;*/
}

.card:hover {
    transition: transform 300ms;
    transform: scale(1.01);
}

.card-body {
    /*background-image: linear-gradient(to right, #3bb2b8 , #42e395);*/
    /*background-image: linear-gradient(to right, #6078ea , #17ead9);*/
    background-image: linear-gradient(to right, #6078ea , #42e395);
}

.card-title:hover {
    color: #57ca85;
}

.text-white {
    background-color: #4F9D85;
}

.container {
    height: max-content;
    width: max-content;
}

html {
    height: 100%;
}