.img {
    /*background-size: 100% 100%;*/
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.bannerImg{
    width: 300px;
    height: 300px;

}
.enterCommentBox{
    background-color: transparent;
    border: none;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

body, html {
    background-position: center center;
    background-size: cover;
    height: 100%;
    background-image: url("img/locker_with_white_block.jpg");
    /*font-family: 'Shadows Into Light', cursive;*/
    font-family: 'Playfair Display', serif;
}