body {
    background: url("img/pexels-bongkarn-thanyakij-3828353.jpg") no-repeat center center fixed;
}

.clickableArrow  {
    color: whitesmoke;
    cursor: pointer;

}



.clickableHover:hover {
    color: #57ca85;

}

.green {
    color: #57ca85;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.clickableArrowLeft {
    order: 1;
}
.clickableArrowRight {
    order: 3;
}

.yearbook {
    order: 2;
}