body {
    background: url("img/graydesk.jpg") no-repeat center center fixed;
}

.clickableArrow  {

    cursor: pointer;

}

.clickableHover:hover {
    color: #57ca85;

}

.green {
    color: #57ca85;
}