<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>



<footer th:fragment="footer" class="navbar fixed-bottom d-flex justify-content-center ">


                    <ul class="text-uppercase font-weight-bold list-unstyled">
                    <li><a th:href="@{|/about|}">About</a></li>

                    <li><a th:href="@{#topOfPage}">Top Of Page</a></li>
                    </ul>

</footer>

</body>
</html>