<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>

<header th:fragment="header">

    <meta charset="UTF-8">
    <!--    bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

<!--    cloudflare-->
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--    filestack -->
            <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>

<!--          fontawesome-->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
                  integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <!--    css styling-->
    <link href="/eyearbook.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/register.css"/>
    <link rel="stylesheet" href="/home.css"/>
    <link rel="stylesheet" href="/SignaturePage.css"/>








</header>

</body>
</html>