<!DOCTYPE html>
<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav mr-md-auto">


            <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home<span class="sr-only"></span></a></li>


            <ul class="navbar-nav ml-auto">
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item mr-md-auto">
                        <a class="nav-link " th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item mr-md-auto">
                        <a class="nav-link " th:href="@{/sign-up}">Sign Up</a>
                    </li>

                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item mr-md-auto">
                        <form th:action="@{/logout}" th:method="post">
                            <button class="nav-link btn-link btn ">Logout</button>
                        </form>
                    </li>
                </th:block>

                <!--            <div th:object="${user}">-->

                <th:block sec:authorize="isAuthenticated()">

                    <li class="nav-item mr-md-auto" th:if="${#authentication.principal.isParent}">
                        <a class="nav-link " th:href="@{|/parent-profile|}">My Profile</a>
                    </li>


                    <li class="nav-item mr-md-auto" th:if="${!#authentication.principal.isParent}">
                        <a class="nav-link " th:href="@{/signature-page/{id} (id = ${#authentication.principal.id})}">My
                            Student Profile</a>
                    </li>

                </th:block>
            </ul>

        </div>

        <!--            <c:choose>-->
        <!--                <%&#45;&#45;            no method so by default they get handled in the doGet of the servlet&#45;&#45;%>-->
        <!--                <c:when test="${sessionScope['user']!=null }">-->
        <!--                    <li><a href="/logout">Logout</a></li>-->
        <!--                </c:when>-->
        <!--                <c:otherwise>-->
        <!--                    <li><a href="/login">Login</a></li>-->
        <!--                </c:otherwise>-->
        <!--            </c:choose>-->
        <!--            -->
    </div>
    </div>
</nav>

</body>
</html>