<!DOCTYPE html>
<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Navbar</title>
<!--    <style>-->
<!--        body{-->
<!--            color: darkslategrey;-->
<!--            font-size: 12px;-->
<!--        }-->

<!--    </style>-->
</head>
<body>
<nav th:fragment="navbar" class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #789f83;">
    <a class="navbar-brand" th:href="@{/}">E-YEARBOOK<span class="sr-only"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto topNav">

            <th:block sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link btn-link btn" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-link btn" th:href="@{/sign-up}">Parent Registration</a>
                </li>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item" th:if="${#authentication.principal.isParent}">
                    <a class="nav-link btn-link btn" th:href="@{|/parent-profile|}">My Profile</a>
                </li>

                <li class="nav-item" th:if="${!#authentication.principal.isParent}">
                    <a class="nav-link btn-link btn"
                       th:href="@{/signature-page/{id} (id = ${#authentication.principal.id})}">My
                        Student Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-link btn" th:href="@{|/search|}">Search Registered Student</a>
                </li>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item" th:if="${#authentication.principal.owns_yearbook}">
                    <a class="nav-link btn-link btn" th:href="@{|/yearbook|}">View Yearbook</a>
                </li>
                </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <li class="nav-item ">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="nav-link btn-link btn">Logout</button>
                    </form>
                </li>
            </th:block>
        </ul>
    </div>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>