<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <script src="https://kit.fontawesome.com/3963957e1d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3963957e1d.js" crossorigin="anonymous"></script>
    <link th:rel="stylesheet" th:href="@{/navbar.css}" />
    <link th:rel="stylesheet" th:href="@{/about.css}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Us</title>
</head>
<body>
<div class="d-block d-sm-block d-md-block d-lg-none">
    <section class="mobile-section-1 container-fluid h-100">
        <div class="d-flex flex-column">
            <div>
                <header>
                    <nav class="mobile-navbar navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand" href="/">E-Yearbook</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <th:block sec:authorize="!isAuthenticated()">
                                    <li class="nav-item">
                                        <a class="nav-link text-white nav-font" th:href="@{/login}">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-link btn text-white nav-font " th:href="@{/sign-up}">Parent
                                            Registration</a>
                                    </li>
                                </th:block>
                                <th:block sec:authorize="isAuthenticated()">
                                    <li class="nav-item" th:if="${#authentication.principal.isParent}">
                                        <a class="nav-link btn-link btn text-white nav-font"
                                           th:href="@{|/parent-profile|}">My Profile</a>
                                    </li>

                                    <li class="nav-item" th:if="${!#authentication.principal.isParent}">
                                        <a class="nav-link btn-link btn text-white nav-font"
                                           th:href="@{/signature-page/{id} (id = ${#authentication.principal.id})}">My
                                            Student Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-link btn text-white nav-font" th:href="@{|/search|}">Search
                                            Registered Student</a>
                                    </li>
                                </th:block>
                                <th:block sec:authorize="isAuthenticated()">
                                    <li class="nav-item" th:if="${#authentication.principal.owns_yearbook}">
                                        <a class="nav-link btn-link btn text-white nav-font" th:href="@{|/yearbook|}">View
                                            Yearbook</a>
                                    </li>
                                </th:block>

                                <th:block sec:authorize="isAuthenticated()">
                                    <li class="nav-item">
                                        <form th:action="@{/logout}" th:method="post">
                                            <button class="nav-link btn-link btn text-white nav-font">Logout</button>
                                        </form>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </section>
</div>

<div class="d-none d-lg-block d-xl-block h-100">
    <th:block th:insert="partials/topOfPage :: topOfPage"></th:block>

    <nav th:replace="partials/navbar :: navbar"/>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <h1>About The Developers</h1>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
    <div class="col-sm-3">
        <div class="card-1">
            <img class="card-img-top" th:src="@{/dev-images/Bobbie.png}" alt="bobbie image">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Bobbie Archambault</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="https://github.com/bmarchambault" class="btn git-icon"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="https://www.linkedin.com/public-profile/in/bobbie-archambault" class="btn linkedin-icon"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="mailto:bmarchambault@gmail.com" class="btn email-icon"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-2">
            <img class="card-img-top" th:src="@{/dev-images/Augustine.png}" alt="Augustine image">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Augustine Cervantes</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="https://github.com/AugustineCervantesIII" class="btn git-icon"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="https://www.linkedin.com/in/augustine-cervantes" class="btn linkedin-icon"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="mailto:augustine.cervantesiii@gmail.com" class="btn email-icon"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-3">
            <img class="card-img-top" th:src="@{/dev-images/Leroy.png}" alt="Leroy image">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Leroy Grant</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="https://github.com/lgrant146" class="btn git-icon"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="https://www.linkedin.com/in/leroy-grant/" class="btn linkedin-icon"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="mailto:Lgrant146@gmail.com" class="btn email-icon"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-4">
            <img class="card-img-top" th:src="@{/dev-images/Armando.png}" alt="Armando image">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Armando Roman</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="https://github.com/armandoroman20" class="btn git-icon"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="https://www.linkedin.com/in/armando-roman-jr/" class="btn linkedin-icon"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="mailto:armando.romanjr20@gmail.com" class="btn email-icon"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>