<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <script src="https://kit.fontawesome.com/3963957e1d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3963957e1d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/about.css"/>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<th:block th:insert="partials/topOfPage :: topOfPage"></th:block>

<nav th:replace="partials/navbar :: navbar"/>

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>About The Developers</h1>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
    <div class="col-sm-3">
        <div class="card-1">
            <img class="card-img-top" src="https://cdn.filestackcontent.com/88bLZVfTeOymYuo6ij72" alt="bobbie image">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Bobbie Archambault</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="https://github.com/bmarchambault" class="btn git-icon"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="https://www.linkedin.com/public-profile/in/bobbie-archambault" class="btn linkedin-icon"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="mailto:bmarchambault@gmail.com" class="btn email-icon"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-2">
            <img class="card-img-top" src="https://cdn.filestackcontent.com/i6Hmk1XiTeGzP6ds97cR" alt="Augustine image">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Augustine Cervantes</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="https://github.com/AugustineCervantesIII" class="btn git-icon"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="https://www.linkedin.com/in/augustine-cervantes" class="btn linkedin-icon"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="mailto:augustine.cervantesiii@gmail.com" class="btn email-icon"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-3">
            <img class="card-img-top" src="https://cdn.filestackcontent.com/t0jWiJcvSfKbkRqd7hbV" alt="Leroy image">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Leroy Grant</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="https://github.com/lgrant146" class="btn git-icon"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="https://www.linkedin.com/in/leroy-grant/" class="btn linkedin-icon"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="mailto:Lgrant146@gmail.com" class="btn email-icon"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-4">
            <img class="card-img-top" src="https://cdn.filestackcontent.com/N8o9UPQsOB2MlvYYv6lQ" alt="Armando image">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Armando Roman</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="https://github.com/armandoroman20" class="btn git-icon"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="https://www.linkedin.com/in/armando-roman-jr/" class="btn linkedin-icon"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="mailto:armando.romanjr20@gmail.com" class="btn email-icon"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>