<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <script src="https://kit.fontawesome.com/3963957e1d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3963957e1d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/about.css"/>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"/>

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Developers</h1>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-sm-3">
        <div class="card-1">
            <img class="card-img-top" src="https://cdn.filestackcontent.com/BT3RYnEMTap6rZAJb9k6" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Bobbie Archambault</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="#" class="btn"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="#" class="btn"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="#" class="btn"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-2">
            <img class="card-img-top" src="https://cdn.filestackcontent.com/BT3RYnEMTap6rZAJb9k6" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Augustine Cervantes</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="#" class="btn"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="#" class="btn"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="#" class="btn"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-3">
            <img class="card-img-top" src="https://cdn.filestackcontent.com/BT3RYnEMTap6rZAJb9k6" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Leroy Grant</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="#" class="btn"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="#" class="btn"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="#" class="btn"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card-4">
            <img class="card-img-top" src="https://cdn.filestackcontent.com/BT3RYnEMTap6rZAJb9k6" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title d-flex flex-nowrap d-flex justify-content-center">Armando Roman</h5>
                <div class="links d-flex flex-nowrap justify-content-center">
                    <a href="#" class="btn"><h1><i class="fab fa-github-square"></i></h1></a>
                    <a href="#" class="btn"><h1><i class="fab fa-linkedin"></i></h1></a>
                    <a href="#" class="btn"><h1><i class="fas fa-envelope"></i></h1></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>