<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->


<!--    &lt;!&ndash;    bootstrap&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--    &lt;!&ndash;    jquery&ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash;    css styling&ndash;&gt;-->
<!--    <link href="/eyearbook.css" type="text/css" rel="stylesheet"/>-->
<!--    &lt;!&ndash;    filestack &ndash;&gt;-->
<!--    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>-->

<!--    <meta charset="UTF-8">-->

<!--    <title>Signature Page</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->

<!--    <div class="form-group">-->
<!--        <input type="BUTTON" value="Upload an Image" id="image" onclick="pickMark()">-->
<!--    </div>-->

<!--    <form th:action="@{/bannerImg}" method="post" th:object="${pageOwner}">-->
<!--        <input type="hidden" th:field="*{id}">-->
<!--        <div class="form-group">-->
<!--            <label for="sign_page_banner_image"></label>-->
<!--            <input type="hidden" class="form-control" id="sign_page_banner_image" th:field="*{sign_page_banner_image}">-->
<!--            <label for="password"></label>-->
<!--            <input type="hidden" class="form-control" id="password" th:field="*{password}">-->
<!--            <label for="username"></label>-->
<!--            <input type="hidden" class="form-control" id="username" th:field="*{username}">-->
<!--            <label for="email"></label>-->
<!--            <input type="hidden" class="form-control" id="email" th:field="*{email}">-->
<!--            <label for="parent_id"></label>-->
<!--            <input type="hidden" class="form-control" id="parent_id" th:field="*{parent_id}">-->
<!--            <label for="owns_yearbook"></label>-->
<!--            <input type="hidden" class="form-control" id="owns_yearbook" th:field="*{owns_yearbook}">-->
<!--        </div>-->
<!--        <button id="submit" type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->