<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<head>
    <!--    bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!--    css styling-->
    <link th:rel="stylesheet" th:href="@{/navbar.css}" />
    <link href="/register-child.css" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
        <title>Child Registration</title>
    </head>
<body>
<nav th:replace="partials/navbar :: navbar"/>


<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header justify-content-center">
                <h3 class="text-center py-3">Child Registration</h3>
                <h4 class="text-center">Student id: <span th:text="${studentId}"></span></h4>
                <h5 class="text-center">First Name: <span th:text="${firstName}"></span></h5>
                <h5 class="text-center">Last Name: <span th:text="${lastName}"></span></h5>

                <div class="card-body">
                    <!--   <form th:action="@{/register-child}" method="POST">-->
                    <form th:action="@{/child-register2}" method="POST" th:object="${user}">
                        <input th:type="hidden" th:name="studentId" th:value="${studentId}"/>
                        <!--                        <input class="text-hide" id="studentId" th:field="*{student.student_id}"/>-->
                        <div class="row d-flex justify-content-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label> Username</label>
                                            <input class="form-control" id="username" th:field="*{username}"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input class="form-control" id="password" type="password"
                                                   th:field="*{password}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="text-white" for="confirmPassword">Confirm
                                                Password</label>


                                            <input class="form-control" type="password" name="confirmPassword"
                                                   id="confirmPassword"/>
                                            <input id="isParent" type="hidden" name="isParent" th:value="0"/>
                                        </div>
                                    </div>
                                </div>
                                <input id="parentId" type="hidden" name="parentId" th:field="*{parent_id}"/>
                                <div class="form-group text-center">
                                    <input class="btn login_btn bg-primary text-white"
                                           value="Register my child"
                                           type="submit"/>
                                </div>
                            </div>
                        </div>
                        <!--                        </div>-->
                    </form>


                    <script>
                        $('document').ready(function () {
                            var password = document.getElementById("password")
                            var confirmPassword = document.getElementById("confirmPassword");

                            function validatePassword() {
                                if (password.value !== confirmPassword.value) {
                                    confirmPassword.setCustomValidity("Passwords Don't Match");
                                } else {
                                    confirmPassword.setCustomValidity('');
                                }
                            }

                            password.onchange = validatePassword;
                            confirmPassword.onkeyup = validatePassword;
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>