
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<head>
    <!--    bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!--    css styling-->
    <link href="/eyearbook.css" rel="stylesheet"/>
    <meta charset="UTF-8">

    <title>Parent Profile Page</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />


<h1 class="text-center">Username: <span th:text="${user != null} ? ${user.getUsername()} : 'user is null'"></span></h1>
<!--<h1 class="text-center"><span th:text="${user != null} ? ${user.getParent_id()} : 'user is null'"></span></h1>-->


<!--<h1 class="text-center"><span th:text="${}">child name here </span></h1>-->

<div class="sidenavP">

    <a href="/register-child">Register a child</a>
    <a th:href="@{|/edit-profile|}">Update profile</a>

    <form th:action="@{/signature-page/{id}(id=${user.id})}" method="GET">
    <a th:href="/signature-page/" >View childs profile page</a>
    </form>

    <div th:if="${user.isOwns_yearbook()}">
        <a href="/yearbook" >View Yearbook</a>
    </div>
    <div th:if="${!user.isOwns_yearbook()}">
    <a href="/mock-site" >purchase a yearbook</a>
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalEnterPurchaseCodeForm">enter yearbook purchase code</a>
    </div>
<!--    <a href="#" >enter yearbook purchase code</a>-->
</div>

<div class="container-fluid container">
    <div class="main">
        <h3 class="text-center">Your childs Comments:</h3>
        <div class="card mb-3" style="max-width: 700px;">

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">NAME OF THE CHILD COMMENT WAS POSTED TO</h5>
                        <p class="card-text">Sample of signing a yearbook.  "Have a great summer!"</p>
                        <p class="card-text"><small class="text-muted">created at ?? </small></p>

                        <ul>
                            <li class="col-12" th:each="comment : ${user.userSignatures}">
                                <h2> Comment:  <span th:text="${comment.yearbook_comment}"></span></h2>
                            </li>
                        </ul>
                    </div>
                </div>

        </div>
    </div>
</div>

<!--modal code-->


<div class="modal fade " id="modalEnterPurchaseCodeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <form th:action="@{/purchase-code}" method="POST" th:object="${user}">
        <div class="modal-dialog p-2 modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Enter Purchase Code: </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">
                <div class="md-form mb-4">
                    <input type="text" id="purchaseCode" class="form-control validate" name="code"/>
                    <label data-error="wrong" data-success="right" for="purchaseCode">purchase code</label>
                    <br>

                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
<!--                <div class="modal-footer ">-->
                    <button type="submit" class="btn btn-primary"  >Send </button>
<!--                <button type="button" class="btn btn-indigo" data-dismiss="modal" >Send </button>-->
            </div>
        </div>


        </div>
    </form>
    </div>
</div>
<!--<i class="fas fa-paper-plane-o ml-1"></i>-->

<!--<div class="text-center">-->
<!--    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalSubscriptionForm">Launch-->
<!--        Modal Subscription Form</a>-->
<!--</div>-->

<!--    bootstrap js-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>