
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<head>
    <!--    bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!--    css styling-->
    <link href="/eyearbook.css" rel="stylesheet"/>
    <meta charset="UTF-8">

    <title>Parent Profile Page</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />
<!--<h1 class="text-center"><span th:text="${user.getStudent().id}">parents name here </span></h1>-->
<h1 class="text-center"><span th:text="${user != null} ? ${user.getUsername()} : 'user is null'"></span></h1>
<h1 class="text-center"><span th:text="${user != null} ? ${user.getParent_id()} : 'user is null'"></span></h1>

<!--<h1 class="text-center"><span th:text="${}">child name here </span></h1>-->

<div class="sidenavP">
<!--to use a button, have a form with the action going to register child with a method of get and send to get mapping you can style the button to look like an achor or make alll buttons the button will have a hidden input that links the parent id DO NOT USE FORM MODEL BINDING-->

<!--    <form action="register-child" method="get">-->
<!--        <input type="hidden" name="parentId" th:value="${user.id}">-->
<!--        <button>Register a child</button>-->
<!--    </form>-->

    <a href="/register-child">Register a child</a>
    <a th:href="@{|/edit-profile|}">Update profile</a>
    <a href="#" >View comments your child has posted</a>
    <a href="#" >purchase a yearbook</a>
    <a href="#" >enter yearbook purchase code</a>
</div>

<div class="container-fluid container">
    <div class="main">
        <h3 class="text-center">CHILDS Comments</h3>
        <div class="card mb-3" style="max-width: 700px;">

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">NAME OF THE CHILD COMMENT WAS POSTED TO</h5>
                        <p class="card-text">Sample of signing a yearbook.  "Have a great summer!"</p>
                        <p class="card-text"><small class="text-muted">created at ?? </small></p>
                    </div>
                </div>

        </div>
    </div>
</div>

</body>
</html>