<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/register.css"/>
    <title>Sign up</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"/>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="d-flex justify-content-center">Parent Register Form</h3>
            </div>

            <div class="card-body">
                <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-info text-white" for="username">Username</label>
                        </div>
                        <input class="form-control" id="username" th:field="*{username}"/>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-info text-white" for="email">Email</label>
                        </div>
                        <input class="form-control" id="email" th:field="*{email}"/>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-info text-white" for="password">Password</label>
                        </div>
                        <input class="form-control" id="password" type="password" th:field="*{password}"/>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-info text-white" for="confirmPassword">Confirm Password</label>
                        </div>
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"/>
                        <input id="isParent" type="hidden" name="isParent" th:value="1" />
                    </div>

                    <div class="form-group">
                        <input class="btn float-right login_btn bg-primary text-white" value="Sign me up!" type="submit"/>
                    </div>

                </form>
                <script>
                    $('document').ready(function(){
                        var password = document.getElementById("password")
                        var confirmPassword = document.getElementById("confirmPassword");

                        function validatePassword(){
                            if(password.value !== confirmPassword.value) {
                                confirmPassword.setCustomValidity("Passwords Don't Match");
                            } else {
                                confirmPassword.setCustomValidity('');
                            }
                        }
                        password.onchange = validatePassword;
                        confirmPassword.onkeyup = validatePassword;
                    });
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>