<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Sign up</title>
</head>
<body>

<nav th:replace="partials/navbar :: navbar"/>


<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header row justify-content-center">
                <h3>Parent register form</h3>
            </div>

            <div class="card-body">
                <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-info text-white" for="username">Username</label>
                        </div>
                        <input class="form-control" id="username" th:field="*{username}"/>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-info text-white" for="email">Email</label>
                        </div>
                        <input class="form-control" id="email" th:field="*{email}"/>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-info text-white" for="password">Password</label>
                        </div>
                        <input class="form-control" id="password" type="password" th:field="*{password}"/>
                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-info text-white" for="confirmPassword">Confirm Password</label>
                        </div>
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"/>
                        <input id="is_parent" type="hidden" name="is_parent" th:value="1" />
                    </div>

                    <div class="form-group">
                        <input class="btn float-right login_btn bg-primary text-white" value="Sign me up!" type="submit"/>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>