<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:rel="stylesheet" th:href="@{/navbar.css}" />
    <link th:rel="stylesheet" th:href="@{/register.css}"/>
    <title>Sign up</title>
</head>
<body>
<th:block th:insert="partials/topOfPage :: topOfPage"></th:block>

<nav th:replace="partials/navbar :: navbar"/>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h2 class="d-flex justify-content-center">Parent Register Form</h2>
            </div>

            <div class="card-body">
                <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                    <div class="container">
                        <div class="form-group">
                            <label class="input-group" for="username">Username</label>
                            <input class="form-control" id="username" th:field="*{username}"/>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group">
                            <label class="input-group" for="email">Email</label>
                            <input class="form-control" id="email" th:field="*{email}"/>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group">
                            <label class="input-group" for="password">Password</label>
                            <input class="form-control" id="password" type="password" th:field="*{password}"/>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group">
                            <label class="input-group" for="confirmPassword">Confirm Password</label>
                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"/>
                        <input id="isParent" type="hidden" name="isParent" th:value="1"/>
                        </div>
                    </div>
                    <div class="col text-center">
                        <input class="btn login_btn bg-primary text-white" value="Sign me up!" type="submit"/>
                    </div>
                </form>
                <script>
                    $('document').ready(function () {
                        var password = document.getElementById("password")
                        var confirmPassword = document.getElementById("confirmPassword");

                        function validatePassword() {
                            if (password.value !== confirmPassword.value) {
                                confirmPassword.setCustomValidity("Passwords Don't Match");
                            } else {
                                confirmPassword.setCustomValidity('');
                            }
                        }

                        password.onchange = validatePassword;
                        confirmPassword.onkeyup = validatePassword;
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>