<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<nav th:replace="partials/navbar :: navbar" />
    <title>View Students</title>
</head>
<body>
<div class="container mt-5">
    <h1>Showing Students</h1>
    <form th:action="@{/search}">
        Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>
    <div class="row mt-5">
        <div class="col">
            <div class="card mb-2" th:each="student : ${listStudents}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${student.first_name} +' '+ ${student.last_name}"></h5>


                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/search}]]";
    }
</script>

</body>
</html>