<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<head>
    <!--    bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <!--    css styling-->

    <!--    filestack -->
    <script type='text/javascript' th:src="@{/js/config.js}"></script>
    <script type='text/javascript' th:src="@{/js/script.js}"></script>

    <link rel="stylesheet" href="/SignaturePage.css"/>
    <link href="/eyearbook.css" type="text/css" rel="stylesheet"/>
    <script type='text/javascript' th:src="@{/js/config.js}"></script>
    <script type='text/javascript' th:src="@{/js/script.js}"></script>


    <script type='text/javascript' th:src="@{/js/config.js}"></script>
    <script type='text/javascript' th:src="@{/js/script.js}"></script>

    <meta charset="UTF-8">

    <title>Signature Page</title>
</head>
<body>
<script>


    // var client = filestack.init(FILESTACK_KEY);


    //The function pickMark()
    let imgUrl;
    let imageSelection = document.querySelector('#sign_page_banner_image');
    console.log(imageSelection);

    // function updateImage(){
    //     imgUrl = imageSelection.value;
    // }

    function pickMark() {
        var client = filestack.init(FILESTACK_KEY);

        console.log("Picking Watermark");
        //Limiting file types and number for uploading in the picker
        client.pick({
            //Only accepting files with a mimetype 'image/*'
            accept: 'image/*',
            //Only accepting at most 1 file
            maxFiles: 1,
        }).then(function (result) {//Taking the result object in as 'result'
            //Putting the result in a string, and printing it to the console
            // console.log(result);
            console.log(result.filesUploaded[0].url);

            // imgUrl = result.filesUploaded[0].url;
            // imgUrl = (JSON.stringify(result.filesUploaded[0].url));
            imgUrl = result.filesUploaded[0].url;
            console.log(imgUrl);
            // document.getElementById("submit").addEventListener("click", updateImage);
            document.getElementById('sign_page_banner_image').value = imgUrl;
            // imageSelection = document.querySelector('#imagePath');
            console.log(imageSelection);
            console.log(imgUrl);
        })
    }</script>
<nav th:replace="partials/navbar :: navbar"/>


<!--side nav bar-->
<div class="sidenav">

    <a href="/search">Search Registered Student</a>

    <div th:if="${pageOwner.owns_yearbook}">
        <a href="/yearbook">View Your Yearbook</a>
    </div>

    <div th:if="${!pageOwner.owns_yearbook}">
        <p>Please get your purchase code <br> from a parent to view your yearbook</p>
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal"
           data-target="#modalEnterPurchaseCodeForm">enter yearbook purchase code</a>
    </div>
    <!--    <div class="d-flex justify-content-center">-->
    <!--        <div class="form-group ">-->
    <!--            <input type="BUTTON" class="btn btn-primary mx-sm-1" value="Upload an Image" id="image" onclick="pickMark()">-->
    <!--        </div>-->
    <!--        <br>-->
    <!--        <form th:action="@{/bannerImg}" method="post" th:object="${pageOwner}">-->
    <!--            <button id="submit" type="submit" class="btn btn-primary mx-sm-1">Submit</button>-->

    <!--            <input type="hidden" th:field="*{id}">-->
    <!--            <div class="form-group">-->
    <!--                <label for="sign_page_banner_image"></label>-->
    <!--                <input type="hidden" class="form-control" id="sign_page_banner_image"-->
    <!--                       th:field="*{sign_page_banner_image}">-->
    <!--                <label for="password"></label>-->
    <!--                <input type="hidden" class="form-control" id="password" th:field="*{password}">-->
    <!--                <label for="username"></label>-->
    <!--                <input type="hidden" class="form-control" id="username" th:field="*{username}">-->
    <!--                <label for="email"></label>-->
    <!--                <input type="hidden" class="form-control" id="email" th:field="*{email}">-->
    <!--                <label for="parent_id"></label>-->
    <!--                <input type="hidden" class="form-control" id="parent_id" th:field="*{parent_id}">-->
    <!--                <label for="owns_yearbook"></label>-->
    <!--                <input type="hidden" class="form-control" id="owns_yearbook" th:field="*{owns_yearbook}">-->
    <!--            </div>-->
    <!--        </form>-->
    <!--    </div>-->
    <!--    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalBannerImg">Change your banner image</a>-->
    <!--    <a th:href="@{/bannerImg/{id}(id=${pageOwner.id})}">Change banner image!</a>-->
    <!--    <a href="#">Add as friend (dynamic - visible to visitors)</a>-->
    <!--    <a href="#">Post a comment (dynamic - visible to visitors)</a>-->

    <!--&lt;!&ndash;</div>&ndash;&gt;&lt;!&ndash;-->
</div>


<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<h1 class="text-center"><span th:text="${username}"></span></h1>-->
<!--&lt;!&ndash;banner&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="d-flex justify-content-center box large">&ndash;&gt;-->
<!--<div class="d-flex justify-content-center" style="width: 100%; height: 200px;">-->
<!--    <img th:src="${pageOwner.getSign_page_banner_image()}"/>-->
<!--    <br>-->
<!--    &lt;!&ndash;    if luggedInUser{id} not equal to signature-page{id} dont show the following info&ndash;&gt;-->
<!--    <div class="d-flex justify-content-center">-->
<!--        <div class="form-group ">-->
<!--            <input type="BUTTON" class="btn btn-primary mx-sm-1" value="Upload an Image" id="image"-->
<!--                   onclick="pickMark()">-->
<!--        </div>-->


<div class="card mb-3"><span th:text="${username}"></span></div>
<div class="d-flex justify-content-center" style="width: 100%; height: 200px;">
    <img th:src="${pageOwner.getSign_page_banner_image()}"/>
</div>
<div class="card-body d-flex justify-content-center">

    <h5 class="card-title">Upload and image and click submit</h5>
    <div class="form-group"><input type="BUTTON" class="btn btn-primary mx-sm-1" value="Upload an Image"
                                   id="image" onclick="pickMark()">
    </div>


    <h1 th:text="${pageOwner.id}"></h1>

    <form th:action="@{/bannerImg}" method="post" th:object="${pageOwner}">
        <button id="submit" type="submit" class="btn btn-primary mx-sm-1">Submit</button>
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="sign_page_banner_image"></label>
            <input type="hidden" class="form-control" id="sign_page_banner_image"
                   th:field="*{sign_page_banner_image}">
        </div>
</div>
</form>
<!--    </div>-->
<!--</div>-->

<!--</div>-->
<br>
<div th:if="${!pageOwner.owns_yearbook}">
    <h4 class="text-center">Please ask a parent to purchase a yearbook</h4>
</div>
<br>

<!--  COMMENTS SECTION-->


<div class="container-fluid container">
    <div class="main">
        <h3 class="text-center">Who signed your page:</h3>

        <div class="card" style="max-width: 500px;">
            <div class="card-title" th:each="pageOwner : ${pageOwner.myPageSignatures}">
                <div class="row border no-gutters">
                    <div class="col-sm-5" style="background: #868e96;">
                        <img class="card-img-top h-100" th:src="${pageOwner.signer.student.image}" alt="profile-img"/>
                    </div>
                    <div class="col-sm-7">
                        <!--                            <img th:src="${pageOwner.signer.sign_page_banner_image}"/>-->
                        <div class="card-body"><span th:text="${pageOwner.signer.username}"></span>
                            <div class="card-text"><span th:text="${pageOwner.yearbook_comment}"></span></div>
                        </div>
                    </div>
                </div>
            </div>


            <!--  TO ENTER A COMMENTS SECTION-->

            <div class="card mb-3" style="max-width: 700px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">

                        <div class="card-body">

<!--                            if loggedInUser{id} equals the signature-page{id} -->
<!--                            dont show this form so that way a user cant sign own page-->
                            <form th:action="@{/signature-page}" method="POST"
                                  
                                  th:object="${signatures}" id="commentform">

                                <input type="hidden" th:name="ownerId" th:value="${pageOwner.id}">
                                <div class="form-group">
                                    <label for="yearbook_comment"></label>
                                    <input type="text" class="form-control" id="yearbook_comment"
                                           th:field="*{yearbook_comment}">
                                </div>
                                <button value="Submit" type="submit">Comment</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal code for purchase code-->


<div class="modal fade " id="modalEnterPurchaseCodeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <form th:action="@{/purchase-code}" method="POST" th:object="${user}">
        <div class="modal-dialog p-2 modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Enter Purchase Code: </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        <input type="text" id="purchaseCode" class="form-control validate" name="code"/>
                        <label data-error="wrong" data-success="right" for="purchaseCode">purchase code</label>
                        <br>

                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <!--                <div class="modal-footer ">-->
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>


        </div>
    </form>
</div>
</div>


<!--    bootstrap js-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>
</html>