<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<head>

    <!--    bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!--    filestack -->
    <script type='text/javascript' th:src="@{/js/config.js}"></script>

    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <!--    css styling-->

    <script type='text/javascript' th:src="@{/js/script.js}"></script>

    <link th:href="@{/signaturePage.css}" type='text/css' rel="stylesheet"/>

    <link href="/eyearbook.css" type="text/css" rel="stylesheet"/>


    <meta charset="UTF-8">
    <meta id="fsak" th:content="${fsak}">
    <title>Signature Page</title>

</head>
<body>

<script th:inline="javascript">


    // var client = filestack.init(FILESTACK_KEY);


    //The function pickMark()
    let imgUrl;
    let imageSelection = document.querySelector('#sign_page_banner_image');

    // function updateImage(){
    //     imgUrl = imageSelection.value;
    // }
    const fsak = $("#fsak").attr("content");

    function pickMark() {
        var client = filestack.init(fsak);

        console.log("Picking Watermark");
        //Limiting file types and number for uploading in the picker
        client.pick({
            //Only accepting files with a mimetype 'image/*'
            accept: 'image/*',
            //Only accepting at most 1 file
            maxFiles: 1,
        }).then(function (result) {//Taking the result object in as 'result'
            //Putting the result in a string, and printing it to the console
            // console.log(result);
            console.log(result.filesUploaded[0].url);

            // imgUrl = result.filesUploaded[0].url;
            // imgUrl = (JSON.stringify(result.filesUploaded[0].url));
            imgUrl = result.filesUploaded[0].url;
            console.log(imgUrl);
            // document.getElementById("submit").addEventListener("click", updateImage);
            document.getElementById('sign_page_banner_image').value = imgUrl;
            // imageSelection = document.querySelector('#imagePath');
            console.log(imageSelection);
            console.log(imgUrl);
        })
    }</script>

<div class="container-fluid">
    <th:block th:insert="partials/topOfPage :: topOfPage"></th:block>

    <nav th:replace="partials/signaturePageNavbar :: signaturePageNavbar"/>

    <div class="row">
        <div class="left col">
        </div>

        <div class="middle col-8">
            <div class="bannerImage d-flex justify-content-center">
                <img width="851px" height="314px" th:src="${pageOwner.sign_page_banner_image}"/>
            </div>

            <div class="studentImage">
                <img th:src="${pageOwner.student.image}" alt="avatar">
            </div>
            <div class="uploadButton" th:if="${#authentication.principal.id == pageOwner.id}">
                <div class="d-flex justify-content-center">
                    <div class="form-group ">
                        <input type="BUTTON" class=" btn btn-primary mx-sm-1" value="Change Banner" id="image"
                               onclick="pickMark()">
                    </div>

                    <form th:action="@{/bannerImg}" method="post" th:object="${pageOwner}">
                        <input type="hidden" th:name="imageOwnerId" th:value="${pageOwner.id}">
                        <button id="submit" type="submit" class="btn btn-primary mx-sm-1">Submit</button>
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label for="sign_page_banner_image"></label>
                            <input type="hidden" class="form-control" id="sign_page_banner_image"
                                   th:field="*{sign_page_banner_image}">
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-center mt-1">
                <h3>Hello, <a th:text="${pageOwner.student.first_name}"></a></h3>
            </div>
            <div class="text-center mt-5" th:if="${!pageOwner.owns_yearbook}">
                <h4 class="">Please ask a parent to purchase a yearbook</h4>
            </div>
            <div class="text-center mt-5">
                <h3 class="text-center">Who signed your page:</h3>
            </div>
            <!--  COMMENTS SECTION-->
            <div class="middleScroll ">
                <div th:if="${pageOwner.owns_yearbook}">
                    <div class="container-fluid container">



                        <div class="parentCommentCard">
                            <div class="card-body" th:each="pageOwner : ${pageOwner.myPageSignatures}">
                                <div class="row border no-gutters imageOfCommentPoster">

                                    <div class="col-sm-3 ">
                                        <img class="signerImage img-thumbnail-sm"
                                             th:src="${pageOwner.signer.student.image}"/>
                                    </div>
                                    <div class="col-sm-9 mt-4">
                                        <h3><a th:text="${pageOwner.signer.username}"></a> says, </h3>
                                        <h3><a th:text="${pageOwner.yearbook_comment}"></a></h3>
                                    </div>
                                </div>
                            </div>


                            <!--  TO ENTER A COMMENTS SECTION-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="card enterCommentBox " style="width: auto;">

<!--                <div class="row align-self-center ">-->
<!--                    <div class="w-auto">-->
                        <div th:if="${#authentication.principal.id != pageOwner.parent_id && #authentication.principal.id != pageOwner.id}">
                            <div class="card-body ">


                                <form th:action="@{/signature-page}" method="POST"

                                      th:object="${signatures}" id="commentform">

                                    <input type="hidden" th:name="ownerId" th:value="${pageOwner.id}">
                                    <div class="form-group">
                                        <label for="yearbook_comment"></label>
                                        <input type="text" class="form-control" id="yearbook_comment" placeholder="Sign My Yearbook"
                                               th:field="*{yearbook_comment}">
                                    </div>
                                    <button class="btn btn-primary" value="Submit" type="submit">Sign</button>
                                </form>
                            </div>
                        </div>
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="container footerPage">
                <footer th:replace="partials/footer :: footer"></footer>
            </div>
        </div>

        <div class="right col">
        </div>
    </div>
</div>
<!--modal code for purchase code-->

<div class="modal fade " id="modalEnterPurchaseCodeForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <form th:action="@{/purchase-code}" method="POST" th:object="${user}">
        <div class="modal-dialog p-2 modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Enter Purchase Code: </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        <input type="text" id="purchaseCode" class="form-control validate" name="code"/>
                        <label data-error="wrong" data-success="right" for="purchaseCode">purchase code</label>
                        <br>

                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <!--                <div class="modal-footer ">-->
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>


        </div>
    </form>
</div>

<!--    bootstrap js-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>