<!doctype html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/turn.js"></script>
<!--<script> alert("Test");</script>-->
    <style type="text/css">
        body{
            background:#ccc;
        }
        #magazine{
            width:1152px;
            height:752px;
        }
        #magazine .turn-page{
            background-color:#ccc;
            background-size:100% 100%;
        }
    </style>
</head>
<body>

<div id="magazine">
    <div style="background-image:url(https://cdn.filestackcontent.com/PTtek23oT3itFpG36bCE);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/kzV3tXPvTRyZVxJRov97);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/7K3x95P4Ti9nY3X8TFYT);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/BT3RYnEMTap6rZAJb9k6);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/ShT2i3NIShyAb1uilsP7);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/74Hs3rywRvi8AIf7CWbi);"></div>
</div>


<script type="text/javascript">

    $(window).ready(function() {
        $('#magazine').turn({
            display: 'double',
            acceleration: true,
            gradients: !$.isTouch,
            elevation:50,
            when: {
                turned: function(e, page) {
                    /*console.log('Current view: ', $(this).turn('view'));*/
                }
            }
        });
    });


    $(window).bind('keydown', function(e){

        if (e.keyCode==37)
            $('#magazine').turn('previous');
        else if (e.keyCode==39)
            $('#magazine').turn('next');

    });

</script>

</body>
</html>