<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<head>
    <!--    <link th:href="@{/eyearbook.css}" rel="stylesheet"/>-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/turn.js"></script>
    <link th:rel="stylesheet" th:href="@{/navbar.css}" />
    <link th:href="@{/yearBookPage.css}" type='text/css' rel="stylesheet"/>


    <!--<script> alert("Test");</script>-->
    <style type="text/css">
        body {
            margin: 0;
            overflow: hidden;
            /*background-image: url("static/img/cool-background.png");*/

        }

        .wrapper {
            transform: rotate(90deg);
            transform-origin: bottom left;

            position: absolute;
            top: -100vw;
            left: 0;
            padding-right: 0;

            height: 100vw;
            width: 100vh;

            background-color: #000;
            color: #fff;

            overflow: auto;
        }

        #magazine {
            width: 1152px;
            height: 752px;
            margin-left: 150px;
        }

        #magazine .turn-page {
            background-color: #ccc;
            background-size: 100% 100%;
        }

        #magazine, #rotate1 {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);

        }
    </style>
</head>

<nav th:replace="partials/navbar :: navbar"/>

<!--<body th:style="'background: url(/img/cool-background.png)'">-->
<body>







        <div id="wrapper" class="">


            <input id="test" min="1" max="16" value='10' step="1" onchange="showVal(this.value)" type="range"/>
            <input id="leftArrow" value="LEFT" type="button" class="turn-page"/>
            <input id="rightArrow" value="RIGHT" type="button" class="turn-page"/>


            <div id="magazine" class="zoom">
                <!--                cover-->
                <div class="rotate" style="background-image:url(https://cdn.filestackcontent.com/ZBmfxl2lT4iDUpg23TH5
);"></div>
                <!--                 white page-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/XfPCRH6WQ2CoGnjlmkLO);"></div>
                <!--                 1 quotes-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/ZAgxwuDFSt2F1h071a00);"></div>

                <!--                 2 sports-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/If9nPUETH2SE8IvsAdgN);"></div>
                <!--                 3 socializing-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/uAE9LSuIQDCLBqMmHJvu);"></div>

                <!--                 4-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/KmEh7Q3LSNyW88Q0X778
);"></div>
                <!--                 5-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/ERPNxB4uSwiHMRA79AxS);"></div>
<!--                                        6-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/gQZhNKE7S4CidIM9Dimr);"></div>
<!--                                    7-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/U3K324tlR16GX9an9lQP);"></div>
                <!--                 8-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/1i95959TJeFDDDKE6i6i);"></div>
                <!--                // 9-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/MxfWz0Q6Tuisrn3NI2cr);"></div>

                <!--                 10-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/klzufXqFS8qc4361iCH6);"></div>

                <!--                 11-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/TzhgdCQRtuNw9Okm858g);"></div>
<!--                12-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/aDFEl9MhR02fSfmqsl3i);"></div>
<!--13-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/WKv5diA9Q3atmJtI148I);"></div>
<!--14-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/hPhoy84nSWWU5AG0WOjx);"></div>
<!--15-->
                <div class="rotate"
                     style="background-image:url(https://cdn.filestackcontent.com/ncu5kzCQWWOv273H1xyw);"></div>


            </div>
        </div>


        <script type="text/javascript">

            $(window).ready(function () {
                $('#magazine').turn({
                    display: 'double',
                    acceleration: true,
                    gradients: !$.isTouch,
                    elevation: 50,
                    when: {
                        turned: function (e, page) {
                            /*console.log('Current view: ', $(this).turn('view'));*/
                        }
                    }
                });
            });


            $(window).bind('keydown', function (e) {

                if (e.keyCode == 37)
                    $('#magazine').turn('previous');
                else if (e.keyCode == 39)
                    $('#magazine').turn('next');

            });
            $('#leftArrow').click(function () {

                $('#magazine').turn('previous');

            });

            $('#rightArrow').click(function () {
                $('#magazine').turn('next');
            });


            function setZoom(zoom, e) {

                transformOrigin = [0, 0];
                e = e || instance.getElementsByClassName(zoom);
                var p = ["webkit", "moz", "ms", "o"],
                    s = "scale(" + zoom + ")",
                    oString = (transformOrigin[0] * 100) + "% " + (transformOrigin[1] * 100) + "%";

                for (var i = 0; i < p.length; i++) {
                    e.style[p[i] + "Transform"] = s;
                    e.style[p[i] + "TransformOrigin"] = oString;
                }

                el.style["transform"] = s;
                el.style["transformOrigin"] = oString;

            }

            function showVal(a) {
                var zoomScale = Number(a) / 10;
                setZoom(zoomScale, document.getElementsByClassName('zoom')[0])


            }

            function rotateImage() {
                var img = document.getElementById('rotate2');
                img.style.transform = 'rotate(180deg)';
            }

            $("#rotate").on('click', function () {
                $("#wrapper").toggleClass("wrapper");
            });


        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        </body>
</html>