<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/turn.js"></script>
<script> alert("Test");</script>
    <style type="text/css">
        body{
            background:#ccc;
        }
        #magazine{
            width:1152px;
            height:752px;
        }
        #magazine .turn-page{
            background-color:#ccc;
            background-size:100% 100%;
        }
    </style>
</head>
<body>

<div id="magazine">
    <div style="background-image:url(https://cdn.filestackcontent.com/PTtek23oT3itFpG36bCE);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/kzV3tXPvTRyZVxJRov97);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/7K3x95P4Ti9nY3X8TFYT);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/BT3RYnEMTap6rZAJb9k6);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/ShT2i3NIShyAb1uilsP7);"></div>
    <div style="background-image:url(https://cdn.filestackcontent.com/74Hs3rywRvi8AIf7CWbi);"></div>
</div>
<div class="container mt-5">
    <h1>Showing Students</h1>
<!--    <form th:action="@{/yearbook}">-->
<!--        Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />-->
<!--        &nbsp;-->
<!--        <input type="submit" value="Search" />-->
<!--        &nbsp;-->
<!--        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />-->
<!--    </form>-->
    <form>
        <span class="subtitle">Guest list form</span>
        <div class="listBlock">
            <div class="search-block">
                <input type="text" id="keyword" name="keyword"/>
                <br />
                <button id="searchButton" name="searchButton" onclick="retrieveGuests()" type="button">Search button</button>
                <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
            </div>

            <!-- Results block -->
            <div id="resultsBlock">

            </div>
        </div>
    </form>
    <div class="card cb" th:each="student : ${listStudents}">
        <img src="..." class="card-img-top cb" alt="...">
        <div class="card-body cb">
            <h5 class="card-title cb" th:text="${student.first_name} +' '+ ${student.last_name}"></h5>
            <p class="card-text cb">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary cb">Go somewhere</a>
        </div>
    </div>
    <!--    <div class="row mt-5">-->
    <!--        <div class="col">-->
    <!--            <div class="card mb-2" th:each="student : ${listStudents}">-->
    <!--                <div class="card-body">-->
    <!--                    <h5 class="card-title" th:text="${student.first_name} +' '+ ${student.last_name}"></h5>-->


    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</div>

<script type="text/javascript">

    $(window).ready(function() {
        $('#magazine').turn({
            display: 'double',
            acceleration: true,
            gradients: !$.isTouch,
            elevation:50,
            when: {
                turned: function(e, page) {
                    /*console.log('Current view: ', $(this).turn('view'));*/
                }
            }
        });
    });


    $(window).bind('keydown', function(e){

        if (e.keyCode==37)
            $('#magazine').turn('previous');
        else if (e.keyCode==39)
            $('#magazine').turn('next');

    });

</script>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/search}]]";
    }

    function retrieveGuests() {
        let url = '/yearbook';


        $("#cb").load(url);
    }
</script>

</body>
</html>