<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld</title>
</head>
<body>
<h1>you successfully deployed</h1>
</body>
</html>

<!--The following code is to be used on the parent profile page and has the logic to display comments that the child has posted -->

<!--<div class="card-title" th:each="child : ${children}">-->
<!--    <div th:if="${child.userSignatures.empty}">-->
<!--        <h3 class="childUserName">Child:<a th:text="${child.username}"></a>This child has no comments</h3>-->
<!--    </div>-->
<!--    <div th:if="${!child.userSignatures.empty}">-->
<!--        <h3 class="childUserName">Child:<a th:text="${child.username}"></a>'s posts</h3>-->
<!--    </div>-->
<!--    <div class="card-body parentCommentCard" th:each="userSignature : ${child.userSignatures}">-->
<!--        <div class="row border no-gutters individualCommentCard">-->
<!--            <div class="col-sm-9 mt-4">-->
<!--                <h3 class="childsPost">posted on <a th:text="${userSignature.profile_user.username}"></a>'s-->
<!--                    profile</h3>-->
<!--                <h3 class="handwriting"><a th:text="${userSignature.yearbook_comment}"></a></h3>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->