<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/home.css"/>
    <style>
        .footer{
            position: absolute;
            bottom: 3em;
            width: 100%;
            height: 2.5rem;
        }
    </style>
    <title>Landing Page</title>
</head>
<body>
<th:block th:insert="partials/topOfPage :: topOfPage"></th:block>

<nav th:replace="partials/navbar :: navbar"/>

<div class="container">

    <div class="jumbotron jumbotron-fluid rounded">
        <div class="header d-flex justify-content-center">
            <h1 class="display-4" id="title">E ~ Yearbook</h1>
        </div>
    </div>

<br>
<hr class="font-weight-bold">
<hr class="font-weight-bold">
    <br>
    <div class="container d-flex justify-content-center ">
        <div class="container card-body rounded-circle ">
            <h1 class="d-flex justify-content-center"><i class="fas fa-book-reader"></i></h1>
            <div class="container body d-flex justify-content-center">
                <h3 class="text-center">View your yearbook online.</h3>
            </div>
        </div>



        <div class="container card-body rounded-circle ">
            <!--    <h1 class="d-flex justify-content-center"><i class="far fa-comment-alt"></i></h1>-->
            <h1 class="d-flex justify-content-center"><i class="far fa-address-book"></i></h1>
            <div class="container body d-flex justify-content-center">
                <h3 class="text-center">Search for your friends.</h3>
            </div>
        </div>

        <div class="container card-body rounded-circle ">
            <h1 class="d-flex justify-content-center"><i class="fas fa-signature"></i></h1>
            <div class="container body d-flex justify-content-center">
                <h3 class="text-center">Sign your friends yearbook.</h3>
            </div>
        </div>
    </div>

    <hr class="font-weight-bold">
    <hr class="font-weight-bold">



    <div class="container rounded  info">
        <div class="container body">
            <h1 class="d-flex justify-content-center"><i class="far fa-eye"></i></h1>
            <h3 class="d-flex justify-content-center font-weight-bold ">Parents saftey in mind.</h3>
                <h3 class="d-flex justify-content-center"> Restricted access</h3>
                <h3 class="d-flex justify-content-center"> Monitor content </h3>
        </div>
    </div>


</div>
<footer class="footer">
    <footer th:replace="partials/footer :: footer"></footer>
</footer>


</body>
<script>
    $(function(){

        let limit = 0; // 0 = infinite.
        let interval = 7;// Secs
        let images = [
            "img/locker_with_white_block.jpg"
            ,"img/tankFaded.jpg"
            ,"img/yearbookWhiteBlock.jpg"
            ,"img/aquamanFaded.jpg"
            ,"img/faded group at computer.jpg"
            ,"img/greenlaternFaded.jpg"
        ];

        let index = 0;
        let limitCount = 0;
        let myInterval = setInterval(function() {
            if (limit && limitCount >= limit-1) clearTimeout(myInterval);
            if (index >= images.length) index = 0;
            $('body').css({ "background-image":"url(" + images[index]+ ")" });
            index++;
            limitCount++;
        }, interval*1000);
    });
</script>
</html>