<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thyme leaf.org/extras/spring-security" lang="en">
<head>
    <!--    bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!--    css styling-->
    <link href="../../static/eyearbook.css" rel="stylesheet"/>
    <meta charset="UTF-8">

    <title>School Mock Website</title>
</head>
<body>

<div class="h-25 mt-5">
    <h3 class="text-center">Welcome.  Please click the button below to purchase a yearbook</h3>
    <br>

</div>
<div class="container text-center mt-3" >
<button>Purchase a Yearbook</button>
<br>
        <div class="hidden mt-5">
            <div class="thank-msg">
                Thank you for your purchase
            </div>
            <br>
            <div>
                <a href="#">register this code at E-YearBook.net</a>
            </div>
        </div>

</div>


<div class="text-center fixed-bottom ">This is a mock external site page for the school which parent would purchase a yearbook. </div>
</body>
</html>